<ion-header>

  <ion-navbar>
    <ion-title>
      Pay with ALLY
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h4 *ngIf="empty" text-center padding-top>Please go to <ion-icon name="settings"></ion-icon> Settings menu and enter your Merchant ID.</h4>

  <div *ngIf="!empty">
    <div text-center>
      <img [src]="'https://tripally.co' + merchant.merchant_qr" style="max-width: 80%">
    </div>

    <h5 text-center>
      {{ merchant.merchant_name }}
    </h5>

    <h5 text-center style="color: #f53d3d">
      {{ merchant.merchant_contract}}
    </h5>

    <div text-center>
        <button ion-button color="secondary" text-uppercase (click)="copyToClipboard()">Copy</button>
    </div>
  </div>


</ion-content>
